
<!-- Game Overview -->
<div class="container my-5">
<div class="row">
<div class="col-md-6">
<img src="images/dune_imperium_overview.jpg" alt="Dune: Imperium overview" class="img-fluid">
</div>
<div class="col-md-6">
<h2>Overview</h2>
<p>Dune: Imperium is a game of galactic conquest and political intrigue set in the Dune universe. Players take on the role of one of four factions vying for control of the planet Arrakis, the only known source of the valuable spice melange.</p>
<p>The game combines worker placement, deck-building, and combat to create a unique and engaging experience. Players must carefully manage their resources, build their armies, and form alliances to achieve their goals.</p>
</div>
</div>
</div>

<!-- Features -->
<div class="container my-5">
<div class="row">
<div class="col-md-4">
<i class="fas fa-check-circle fa-2x"></i>
<h4>Worker Placement</h4>
<p>Place your workers on the game board to collect resources, build units, and develop your faction's abilities.</p>
</div>
<div class="col-md-4">
<i class="fas fa-cubes fa-2x"></i>
<h4>Deck-Building</h4>
<p>Customize your deck of cards to gain new abilities and strategies. Use your cards to outmaneuver your opponents and achieve your goals.</p>
</div>
<div class="col-md-4">
<i class="fas fa-swords fa-2x"></i>
<h4>Combat</h4>
<p>Lead your armies into battle to conquer territories and gain control of Arrakis. Use your units' unique abilities to outmaneuver and defeat your opponents.</p>
</div>
</div>
</div>

<!-- Call to Action -->
<div class="container my-5">
<div class="row">
<div class="col-md-12 text-center">
<a href="#" class="btn btn-primary btn-lg">Learn More</a>
</div>
</div>
</div>


